{% extends 'base.html' %}
{% block content%}
    <h1>Players</h1>

    {%for player in players%}

     <div class="players">
         <h2><a href="{% url 'madrid:detail' slug=player.slug%}"><span style="font-weight: normal;">{{player.name}}</span></a> </h2>
         <img src="{{ player.image.url }}" width="250px" height="400" style="display: inline-block;" >
         <p>{{player.bio}}</p>
        <p><span style="color: red;"> {{player.position}}</span></p>

     </div>
{% endfor %}
{% endblock %}
